{% extends 'admin.html.twig' %}

{% block content %}
    <div class="page-header">
        <a href="{{ 'newPage'|url }}" class="btn btn-default pull-right">Add new page</a>
        <h1>Pages</h1>
    </div>
    {% if message is not empty %}
        <p class="alert alert-success">{{ message }}</p>
    {% endif %}
    <p class="alert alert-info">The rows which are marked with blue are drafts.</p>
    <table class="table table-striped">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-7">
            <col class="col-xs-3">
        </colgroup>
        <thead>
            <tr>
                <th>Page slug</th>
                <th>Page name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr{{ page.draft ? ' class="info"' : '' }}>
                    <td>/{{ page.slug }}</td>
                    <td>{{ page.name }}</td>
                    <td>
                        <a href="#">Edit</a>
                        {% if page.id != 1 %}
                            <form action="{{ 'deletePage'|url({'id': page.id}) }}" method="POST" class="inline">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <input type="submit" class="btn-hyperlink" value="Delete">
                            </form>
                        {% else %}
                            <del title="You cannot delete main page!">Delete</del>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">There are no pages</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}