{% extends 'admin.html.twig' %}

{% set title = ['Settings', 'settings'] %}

{% block content %}
    <div class="page-header">
        <h1>Settings</h1>
    </div>
    {% if message is not empty %}
        <p class="alert alert-success">{{ message }}</p>
    {% endif %}
    {{ form('updateSettings', {'class' : 'form'}) }}
        {% for setting in settings %}
            <div class="col-md-6 form-group">
                <label for="{{ setting.name }}">{{ setting.name }}</label>
                {{ text('settings[%s]'|format(setting.name), setting.value, {'id': setting.name, 'class': 'form-control'}) }}
            </div>
        {% endfor %}
        {{ submit('Save settings', {'class': 'btn btn-primary'}) }}
    {{ closeForm() }}
{% endblock %}