<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title[0] }} &ndash; Basalt</title>
        <link rel="stylesheet" href="{{ asset('bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('admin.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class="header" role="banner">
            <h1>Basalt</h1>
            {% if isLoggedIn() %}
            <a href="{{ url('updates') }}" class="updates">
                <i class="fa fa-bell fa-lg"></i>
                <span class="digit">2</span>
                <span class="message">Updates are available.</span>
            </a>
            {% endif %}
            <ul>
                <li><a href="{{ url('index') }}">Back to site</a></li>
                {% if isLoggedIn() %}
                <li><a href="{{ url('logout') }}">Log out</a></li>
                {% endif %}
            </ul>
        </header>
        <nav class="sidebar" role="navigation">
            <ul>
                <li><a href="{{ url('dashboard') }}"{{ title[1] == 'dashboard' ? ' class="active"' }}><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li><a href="{{ url('pages') }}"{{ title[1] == 'pages' ? ' class="active"' }}><i class="fa fa-align-left"></i>Pages</a></li>
                <li><a href="{{ url('plugins') }}"{{ title[1] == 'plugins' ? ' class="active"' }}><i class="fa fa-puzzle-piece"></i>Plugins</a></li>
                <li><a href="{{ url('settings') }}"{{ title[1] == 'settings' ? ' class="active"' }}><i class="fa fa-toggle-on"></i>Settings</a></li>
            </ul>
        </nav>
        <main class="main clearfix" role="main">
            {% block content %}{% endblock %}
        </main>
        <script src="{{ asset('jquery.js') }}"></script>
        <script src="{{ asset('bootstrap.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
