<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.name|e }} &ndash; {{ website_name|e }}</title>
        <meta name="description" content="Description.">
        <link rel="stylesheet" href="{{ asset('page.css') }}">
        <!--[if lt IE 9]>
            <!--<script src="html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <header class="header">
            <h1>{{ website_name }}</h1>
            <nav role="navigation">
                <ul>
                    {% for item in menu %}
                        <li><a href="{{ url('page', {'slug': item.slug}) }}"{{ page.id == item.id ? ' class="active"': '' }}>{{ item.name|e }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main class="main" role="main">
            {{ page.content }}
        </main>
        <footer class="footer" role="contentinfo">
            <span class="left">Copyright &copy; {{ website_author|e }}, {{ 'now'|date('Y') }}</span>
            <span class="right">Powered by Basalt &bull; <a href="{{ url('dashboard') }}">AP</a></span>
        </footer>
    </body>
</html>
